*{
    margin: 0;
    padding: 0;
}

/* TASK 1 */

.container1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-bottom: 250px;
}
hr{
    margin-bottom: 50px;
}
.one{
    width: 800px;
    height: 400px;
    background-color: black;
}
.two{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: blue;
    opacity: 30%;
    z-index: 10;
    top: 200px;
    left: 200px
}

/* TASK 2 */

.wrapper2{
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin-bottom: 100px;
}
.container2{
    display: grid;
    width: 300px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    ". . a a"
    "b b . ."
    ". c c ."
    "d d d d";
    gap: 10px 15px;
}
.item2{
    border: 1px solid black;
    grid-area: item2;
    width: 100%;
    height: 100%;
}
.A{
    grid-area: a;
    background-color: coral;
}
.B{
    grid-area: b;
    background-color: purple;
}
.C{
    grid-area: c;
    background-color: teal;
}
.D{
    grid-area: d;
    background-color: blue;
}

/* TASK 3 */
.E{
    grid-area: e;
    background-color: orange;
}
.F{
    grid-area: f;
    background-color: purple;
}
.G{
    grid-area:g;
    background-color: turquoise;
}
.H{
    grid-area: h;
    background-color: whitesmoke;
}
.I{
    grid-area: i;
    background-color: purple;
}
.J{
    grid-area: j;
    background-color: turquoise;
}
.K{
    grid-area: k;
    background-color: orange;
}
.L{
    grid-area: l;
    background-color: whitesmoke;
}
.M{
    grid-area: m;
    background-color: whitesmoke;
}
.container3{
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    height: 500px;
    width: 700px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "e i k l"
    "f f k m"
    "f f g g"
    "h j j .";
    gap: 10px 15px;
}
.item3{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

/* TASK 4 */

.container4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px 15px;
    margin-bottom: 50px;
}
.item4{
    background: #444444;
    color: whitesmoke;
    border-radius: 5px;
    line-height: 2;
    padding: 10px;
}
.item4-1{
    grid-column-end: span 2;
}
.item4-7{
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.item4-11{
    grid-column-end: span 3; 
}


.container5{
    margin:0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 200px);
    grid-template-areas: 
    'a a . b'
    'c d d d'
    'c d d d';
    gap: 10px 15px;
}
.item5{
    background-color: #444444;
    padding: 10px;
    border-radius: 5px;
}
.item5-1{
    grid-area: a;
}
.item5-2{
    grid-area: b;
}
.item5-3{
    grid-area: c;
}
.item5-4{
    grid-area: d;
}
.container5-1{
    display:grid;
    height: 190px;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-template-areas: 
    'e f f'
    'e . g';
    gap: 10px 15px;
}
.item5-4-1{
    grid-area: e;
}
.item5-4-2{
    grid-area: f;
}
.item5-4-3{
    grid-area: g;
}
.item5-5{
    background-color: #CCCCCC;
    color: #444444;
    border-radius: 3px;
    padding: 12px;
}